[package]
name = "stellar-quorum-analyzer"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
petgraph = "=0.6.5"
stellar-xdr = { version = "=24.0.1", git = "https://github.com/stellar/rs-stellar-xdr", rev = "89cc1cbadf1b9a16843826954dede7fec514d8e7" }
json = { version = "0.12.4", optional = true }
itertools = "0.10.5"
stellar-strkey = "0.0.13"
batsat = "=0.6.0"
log = "0.4.19"

[dev-dependencies]
varisat = "=0.2.2"
screwsat = "=2.1.5"
splr = "=0.17.2"
prettytable = "0.10.0"
dimacs = "0.2.0"
json = { version = "0.12.4" }

[[bench]]
harness = false
bench = true
name = "solver_comparison"
path = "benches/solver_comparison.rs"

[features]
default = []
json = ["dep:json"]
